
@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h1>Made By Harkirat Singh gill</h1>

<address>
    hollyford drive<br />
    Manakau, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    0224781812
</address>

<address>
    <strong>Support:</strong>   <a href="http://www.gmail.com">sunnysinghgill78@gmail.com</a><br />
</address>

