
@{
    ViewBag.Title = "Index";
}



<div class="jumbotron">
    <h1>Welcome To Video Store</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="~/video">Continue &raquo;</a></p>
    </div>


</div>